{% extends "back/base.html.twig" %}

{% block body %}
<br>
<br>
    <h1>Edit Concours</h1>

    {{ include('concours/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_concours_index') }}" class="btn btn-secondary mt-3">Back to list</a>

{% endblock %}
