{% extends 'back/base.html.twig'%}

{% block body %}
    <h1>Edit Billet</h1>

    {{ include('billet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_billet_index') }}">back to list</a>


{% endblock %}
