{% extends "back/base.html.twig"%}

{% block body %}
    <div class="container mt-4">
        <h1>Create new Publication</h1>

        {{ include('pub/_form.html.twig') }}

        <a href="{{ path('app_pub_index') }}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Back to list
        </a>
    </div>
{% endblock %}