{% extends "back/base.html.twig" %}

{% block body %}
    <div class="container mt-4">
        <h1>Commentaires pour la publication : {{ publication.titre }}</h1>

        <ul>
            {% for commentaire in comments %}
                <li>{{ commentaire.contenu }}</li>
            {% else %}
                <li>Aucun commentaire</li>
            {% endfor %}
        </ul>

        <a href="{{ path('app_pub_show', {'id': publication.id}) }}" class="btn btn-secondary btn-sm">
            <i class="fas fa-arrow-left"></i> Retour à la publication
        </a>
    </div>
{% endblock %}